.site-footer {
    min-width: 630px;
    background-color: #2a2a2a;
    text-align: center;
    padding: 2rem 0;
    border-top: 2px solid #333;
    font-size: 1.4rem;
}

.site-footer p {
    color: #BFB88A;
}

@media (min-width: 768px) {

    .site-footer p {
    color: #BFB88A;
}
}