#servicos-detalhe {
    padding: 50px 0 80px 0;
    background-color: #1A1A1A;
    min-width: 630px;
    min-height: 80vh;
}

.subtitulo-secao {
    text-align: center;
    font-size: 1.4rem;
    color: #efe7b0;
    margin-bottom: 4rem;
    font-weight: bold;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}