@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url(../styles/header.css);
@import url(/src/styles/secao-topo-home.css);
@import url(/src/styles/produtos-home.css);
@import url(/src/styles/footer.css);
@import url(/src/styles/secao-sobre.css);
@import url(/src/styles/servico.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #2A2A2A;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.titulo-secao {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: #FF8C00;
}

@media (min-width: 768px) {

    h3 {
        font-size: 2rem;
        text-align: left;
    }

    .titulo-secao {
        font-size: 3.5rem;
        margin-bottom: 3rem;
        color: #FF8C00;
        margin: 2rem;
    }
}